{% extends "baseKunde.html" %}{% block title %}Bestellhistorie{% endblock %}

{% block content %}
<h1 class="mt-5">laufende Bestellungen</h1> 
<div class="list-group">
  {% for item in new_items %}
    <a class="list-group-item list-group-item-action mb-3">
        <div class="card mb-3">
            <img src="https://sushifreunde.de/bilder/2022-01-sf-futo-maki-newspost-2000x1296-1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title mt-3">{{ item[1][0][3] }}</h5>
              <p class="card-text mt-2">
                Bestellt am: {{ item[1][0][4] }}<br>
                Status: {{ item[1][0][5] }}<br><br>
                {% for name, price, quantity, x, x, x, x in item[1] %}
                {{ quantity }} {{ name }} {{ price*quantity }}€<br>
                {% endfor %}
                Gesamtpreis {{  item[1][0][6] }}€
            </p>
            </div>
        </div>
    </a>
    {% endfor %}  
</div>
<h1 class="mt-3">vergangene Bestellungen</h1> 
<div class="card-body mb-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for item in old_items %}
      <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              {{ item[1][0][3] }}<br>
              Bestelldatum: {{ item[1][0][4] }}<br>
              Status: {{ item[1][0][5] }}
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              {% for name, price, quantity, x, x, x, x in item[1] %}
                {{ quantity }} {{ name }} {{ price*quantity }}€<br>
                {% endfor %}
                Gesamtpreis {{  item[1][0][6] }}€
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}