{% extends "baseKunde.html" %}{% block title %}Bestellhistorie{% endblock %}

{% block content %}
<h1 class="mt-5">laufende Bestellungen</h1> 
<div class="list-group">
  {% for order in new_orders %}
    <a class="list-group-item list-group-item-action mb-3">
        <div class="card mb-3">
            <img src="https://sushifreunde.de/bilder/2022-01-sf-futo-maki-newspost-2000x1296-1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title mt-3">Restaurantname</h5>
              <p class="card-text mt-2">
                Bestellt am: {{ order[2] }}<br>
                Status: {{ order[3] }}<br><br>

                {{ order[4] }}   {{ order[6] }}€<br>
            </p>
            </div>
        </div>
    </a>
  {% endfor %}
    {% for restaurantname, items, preis, datum, zeit, status in laufendeBestellungen %}
    <a class="list-group-item list-group-item-action mb-3">
      <div class="card mb-3">
          <img src="https://sushifreunde.de/bilder/2022-01-sf-futo-maki-newspost-2000x1296-1.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title mt-3">{{restaurantname}}</h5>
            <p class="card-text mt-2">
              {{"Bestellt am: " + datum + " " + zeit + "Uhr"}}<br>
              {{"Status: " + status}}<br><br>

              {% for item in items %}
              {{item + "  " + preis + "€\n"}}
              {% endfor %}
          </p>
          </div>
      </div>
    </a>
    {% endfor %}  
</div>
<h1 class="mt-3">vergangene Bestellungen</h1> 
<div class="card-body mb-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Restaurantname<br>
              Bestelldatum: 12.11.2024
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Pizza   7,50€<br>
                Sushi-Set   15,50€<br>
                Cheeseburger  9,00€<br>
                Gesamtpreis 0€
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Restaurantname<br>
                Bestelldatum: 30.09.2024
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Pizza   7,50€<br>
                Sushi-Set   15,50€<br>
                Cheeseburger    9,00€</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Restaurantname<br>
                Bestelldatum: 08.03.2024
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Pizza   7,50€<br>
                Sushi-Set   15,50€<br>
                Cheeseburger    9,00€
            </div>
          </div>
        </div>
        {% for restaurantname, items, preis, datum in vergangeneBestellungen %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                {{restaurantname}}<br>
                {{"Bestelldatum: " + datum}}
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                {% for item in items %}
                {{item + "  " + preis + "€\n"}}
                {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}