{% extends "baseRestaurant.html" %} {% block title %}Home{% endblock %} {% block
content %}

<div class="row">
  <div class="col-md-3 position-fixed">
    <!-- Static content -->
    <div class="card" style="width: 160px; background-color: #f9f9f9">
      <img src="static/speisekarte.png" class="card-img-top" alt="Menü" />
      <div class="card-body justify-content-center">
        <h5 class="card-title">Menü</h5>
        <a href="/menue" class="btn btn-warning btn-sm">Zur Speisekarte</a>
      </div>
    </div>
    <div
      class="card"
      style="width: 160px; margin-top: 20px; background-color: #f9f9f9"
    >
      <img src="static/verwaltung.png" class="card-img-top" alt="Verwaltung" />
      <div class="card-body justify-content-center">
        <h5 class="card-title">Verwaltung</h5>
        <a href="/verwaltung" class="btn btn-warning btn-sm">Zur Verwaltung</a>
      </div>
    </div>
  </div>
  <div class="col-md-9 offset-md-3" style="height: 100vh; overflow-y: scroll">
    <!-- Scrolling content -->
    <div class="border p-3 mt-5" style="background-color: #f9f9f9">
      <h1>Willkommen zurück, {{session['restaurant_name']}}</h1>
      <h2 class="mt-5">Bestellhistorie</h2>
      <div class="border p-3 mt-4" style="background-color: white">
        <h3 class="mt-5">Neue Bestellungen</h3>
        <!--Hier kommen neue Bestellungen hin-->
        <div class="row">
          {% for order in new_orders %}
          <div class="col-md-4">
            <div class="card mb-4" style="background-color: rgb(138, 225, 174)">
              <div class="card-body">
                <h5 class="card-title">Bestellung #{{ order[0] }}</h5>
                <p class="card-text">
                  <strong>Artikel:</strong> {{ order[0] }}
                </p>
                <p class="card-text">
                  <strong>Gesamtpreis:</strong> {{ order[1] }} €
                </p>
                <p class="card-text">
                  <strong>Lieferadresse:</strong> {{ order[2] }}
                </p>
                <p class="card-text"><strong>Datum:</strong> {{ order[3] }}</p>
                <p class="card-text">
                  <strong>Status:</strong> {{ order[4] }}
                </p>
              </div>
              {% if order[4] == 'in Bearbeitung'%}
              <div>
              <form action="/accept_order/{{ order[0] }}" method="POST" style="display:inline;">
                <button class="btn btn-primary" type="submit">Annehmen</button>
            </form>
            <form action="/reject_order/{{ order[0] }}" method="POST" style="display:inline;">
              <button class="btn btn-danger " type="submit">Ablehnen</button>
          </form>
          </div>
          {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="border p-3 mt-4" style="background-color: white">
        <h3>Alte Bestellungen</h3>
        <!-- hier kommen alte Bestellungen hin -->
        <div class="row">
          {% for order in old_orders %}
          <div class="col-md-4">
            <div class="card mb-4" style="background-color: rgb(250, 239, 225)">
              <div class="card-body">
                <h5 class="card-title">Bestellung #{{ order[0] }}</h5>
                <p class="card-text">
                  <strong>Artikel:</strong> {{ order[1] }}
                </p>
                <p class="card-text">
                  <strong>Gesamtpreis:</strong> {{ order[2] }} €
                </p>
                <p class="card-text">
                  <strong>Lieferadresse:</strong> {{ order[3] }}
                </p>
                <p class="card-text"><strong>Datum:</strong> {{ order[4] }}</p>
                <p class="card-text">
                  <strong>Uhrzeit:</strong> {{ order[5] }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
