{% extends "baseKunde.html" %}{% block title %}Restaurants{% endblock %}

{% block content %}
<h1 class="mt-5">Willkommen zurück, {{session['user_name']}} <br><br>Restaurants</h1> 
<div class="list-group">
    {% for restaurant in restaurants %}
    <form action="/bestellungZusammenstellen" method="POST" style="cursor: pointer;" 
          onclick="this.submit()"> <!-- Klick auf das gesamte Formular -->
        <input type="hidden" name="restaurant_email" value="{{ restaurant.email }}">
        <div class="card mb-3">
            <img src="https://sushifreunde.de/bilder/2022-01-sf-futo-maki-newspost-2000x1296-1.jpg" 
                 class="card-img-top img-fluid" 
                 style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title mt-3">{{ restaurant.name }}</h5>
                <p class="card-text mt-2">{{ restaurant.adresse }}, {{ restaurant.plz }}, {{ restaurant.stadt }}</p>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}

