{% extends "baseRestaurant.html" %} {% block title %}Verwaltung{% endblock %} {% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Verwaltung</h2>

  <!-- Abschnitt für Öffnungszeiten -->
  <div class="border rounded p-4 mb-5" style="background-color: #f9f9f9">
    <h3>Öffnungszeiten</h3>
    <form method="POST" action="/verwaltung">
      <table class="table table-bordered mt-4">
        <thead class="table-light">
          <tr>
            <th>Tag</th>
            <th>Öffnungszeit</th>
            <th>Schließzeit</th>
          </tr>
        </thead>
        <tbody>
          <!-- Wochentage festlegen -->
          {% for day in ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag',
          'Freitag', 'Samstag', 'Sonntag'] %}
          <tr>
            <td>{{ day }}</td>
            <td>
              <input
                type="time"
                class="form-control"
                name="{{ day }}_opening_time"
                value="{{ opening_hours.get(day, {}).get('opening_time', '') }}"
                required
              />
            </td>
            <td>
              <input
                type="time"
                class="form-control"
                name="{{ day }}_closing_time"
                value="{{ opening_hours.get(day, {}).get('closing_time', '') }}"
                required
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-success mt-3">Speichern</button>
    </form>
  </div>

  <!-- Abschnitt für die Verwaltung und Aktualisierung der Beschreibung -->
  <div class="border rounded p-4 mb-5" style="background-color: #f9f9f9">
    <h3>Restaurantbeschreibung</h3>
    <form method="POST" action="/update_description">
      <div class="mb-3">
        <label for="description" class="form-label">Beschreibung</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="{{ current_caption }}"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Aktualisieren</button>
    </form>
  </div>


  <!-- Abschnitt für Liefergebiete -->
  <div class="border rounded p-4 mb-5" style="background-color: #f9f9f9">
    <h2>Liefergebiete verwalten</h2>

    <!-- Formular zum Hinzufügen einer neuen PLZ -->
    <form action="/neue_plz" method="POST">
      <label for="postal_code">Neue PLZ hinzufügen:</label>
      <input type="text" id="postal_code" name="plz" required />
      <button type="submit" class="btn btn-success">PLZ hinzufügen</button>
    </form>

    <hr />

    <!-- Tabelle zur Anzeige der aktuellen PLZs des Restaurants -->
    <h3>Aktuelle belieferte Postleitzahlen</h3>
    {% if areas %}
    <ul>
      {% for area in areas %}
      <li>
        <!-- Hier werden die Details der PLZ angezeigt -->
        <strong>PLZ:</strong> {{ area[1] }}
        <br />
        <!-- Formular zum Löschen der jeweiligen PLZ -->
        <form
          action="/delete_plz"
          method="POST"
          style="display: inline"
        >
          <input type="hidden" name="plz" value="{{ area[1] }}" />
          <button type="submit">Entfernen</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Es sind noch keine Liefergebiete festgelegt.</p>
    {% endif %}

    <!-- Testgebiet zuende-->
  </div>  
</div>

{% endblock %}
