{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="p-5">
    <div class="card text" >
        <div class="card-header">
        Geschäftsaccount erstellen
        </div>
        <div class="card-body">
        <h5 class="card-title">Konto anlegen</h5>
            <form class="row g-3" method="POST">
                <div class="col-md-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">Passwort</label>
                    <input type="password" class="form-control" id="passwort" name="passwort">
                </div>
                <div class="col-12">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="adresse">
                </div>
                
                <div class="col-md-6">
                    <label for="stadt" class="form-label">Stadt</label>
                    <input type="text" class="form-control" id="stadt" name="stadt">
                </div>
                
                <div class="col-md-2">
                    <label for="plz" class="form-label">PLZ</label>
                    <input type="number" class="form-control" id="plz" name="plz">
                </div>

                <div class="mb-3 col-12">
                    <label for="datei" class="form-label">Bild (optional)</label>
                    <input class="form-control" type="file" id="datei" name="datei">
                  </div>
                
                <div class="col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" id="beschreibung" style="height: 100px" name="beschreibung"></textarea>
                        <label for="beschreibung">Restaurantbeschreibung</label>
                    </div>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrieren</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}